input{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;
/* identical to box height */

display: left;
align-items: left;
text-align: left;
}
.log{
position: absolute;
width: 50%;
height: 90%;
left: 25%;
top: 5%;
border-width:0px;
border:none;
background: #0175AE;
border-radius: 24px;
}
header{
position: absolute;
width: 100%;
height: 30%;
left: 0px;
top: 3px;
background-color: antiquewhite;
}
aside{
    position: absolute;
width: 25%;
height: 65%;
left: 0px;
top:35%;
background-color: turquoise;
}
img{
    position: absolute;
width: 221px;
height: 77px;
left: 45px;
top: 55px;
}
.p-header{
    
    position: relative;
    width: 729px;
    height: 79px;
    left: 356px;
    top: 17px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    display: flex;
}
.button-nav{
display: block;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button-header {
    position: absolute;
width: 268px;
height: 48px;
left: 1132px;
top: 69px;

background: #009BF9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-Login-u{
    border-width:0px;
border:none;
    position: absolute;
    width: 70%;
    height: 15%;
    left: 104px;
    top: 150px;
    
    background: #FFFFFF;
}
.input-Login-p{
    position: absolute;
    width: 70%;
    height: 15%;
    left: 104px;
    top: 300px;
    background: #FFFFFF;
    border-width:0px;
    border:none;
}
.button-login{


    position: absolute;
    width: 70%;
    height: 15%;
    left:104px;
    top: 500px;
    display: left;
    align-items: center;
    text-align: center;
    background: #009BF9;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.p-login{

text-align: center;
color: #FFFFFF;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 60px;
font-family: Roboto;
}