@import "trainerIndex.css";
@import "trainerIndex2.css";
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --color-black: #000;
    --color-primary: #0175AE;
    --color-white: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--color-black);
    box-sizing: border-box;
    font-size: 1.4rem;
}

.link {
    color: var(--color-white);
    text-decoration: none;
    transition: all .1;
}

.link:hover {
    text-decoration: none;
    color: var(--color-white);
}


/*2.-Navbar*/

.navbar {
    color: var(--color-black);
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 11px 6px 0px rgba(204, 204, 204, 0.54);
    -webkit-box-shadow: 1px 11px 6px 0px rgba(204, 204, 204, 0.54);
    -moz-box-shadow: 1px 11px 6px 0px rgba(204, 204, 204, 0.54);
    z-index: 0;
}

.navbar-brand img {
    margin: 5% 20%;
    margin-top: 5%;
    margin-left: 20%;
    width: 12rem;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 10%;
}

.navbar-toggler {
    margin-right: 6%;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 0 2.3rem;
    width: 100%;
    text-align: center;
}

.nav-link {
    padding-top: 10%;
    color: var(--color-primary) !important;
}

.nav-item:hover {
    background: var(--color-primary);
}

.nav-item:hover .nav-link {
    color: white !important;
}

.nav-user {
    font-size: 2rem;
}


/*3.Main*/

.main {
    display: flex;
    min-height: 71vh;
    background-color: #f8f8f8;
}

.main__content {
    padding: 1.5rem;
    width: 100%;
    margin-top: 15px;
    /*min-height: 70vh;9*/
}

.main__menu {
    background: #ffffff;
    z-index: 2;
    border-radius: 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/*Sidebar*/

.main__menu_container ul {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}

.menu-item {
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
}

.menu-item.active {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.menu-item.active i {
    color: var(--color-white);
}

.menu-item.active p {
    display: block;
    font-size: 1rem;
}

.menu-item i {
    color: var(--color-primary);
    font-size: 2.50rem;
}

.menu-item p {
    display: none;
    font-size: 1rem;
    margin-bottom: 0;
}

.menu-item:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

.menu-item:hover i {
    color: var(--color-white);
}

.menu-item:hover p {
    display: block;
    font-size: 1rem;
}


/*Main Content*/

.main__content-header {
    display: inline;
    font-size: 1.7rem;
}

.main__content-header h2 {
    display: inline;
}

.main__content-header div {
    font-size: 2rem;
    margin-left: 5px;
    display: inline;
}

.main__content-header div i {
    color: var(--color-primary);
    padding: 2px;
}


/*Basic Card*/

.card {
    width: 100%;
    /*height: 100%;*/
    padding: 1rem 1.5rem;
    background: #ffff;
    border-radius: 0.75rem;
    box-shadow: 1px 5px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%)
}

.card h3 {
    padding: 0 1.5rem;
    font-size: 1.7rem;
}


/*Card trainnings*/

.card-trainning {
    text-align: center;
    padding: 0;
    min-width: 150px;
    max-width: 220px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.card-trainning:hover {
    cursor: pointer;
    transform: scale(105%);
}

.card-trainning-body:hover h3 {
    margin-top: -2px;
}

.card-trainning-body {
    padding: -10px;
    margin-left: -5px;
    border-radius: 0.75rem;
}

.card-trainning-body h3 {
    padding: 0;
    margin: 0;
    width: 100%;
    color: white;
    margin-bottom: 8px;
}

.card-trainning-body i {
    font-size: 3.3rem;
}

.card-trainning-body .card-info {
    padding: 1rem 1.5rem;
    text-align: left;
}

.checkbox {
    font-size: 2rem;
}

.process {
    border: 5px solid #7ff592;
}

.confirmed {
    border: 5px solid #AC7FF5;
}

.new {
    border: 5px solid #7fcbf5;
}

.rejected {
    border: 5px solid #ff5454;
}

.process-txt {
    color: #7ff592;
}

.confirmed-txt {
    color: #AC7FF5;
}

.new-txt {
    color: #7fcbf5;
}

.rejected-txt {
    color: #ff5454;
}

.process-bg {
    background-color: #7ff592;
}

.confirmed-bg {
    background-color: #AC7FF5;
}

.new-bg {
    padding: 5px;
    background-color: #7fcbf5;
}

.rejected-bg {
    background-color: #ff5454;
}

.btn {
    font-size: 1.3rem;
}

.btn-primary {
    background-color: var(--color-primary);
}

.font-bold {
    font-weight: bold;
}

.table {}


/*4.-Footer*/

.footer {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    text-align: center;
}

.atos-logo {
    width: 60px;
}


/*Media Queries*/

@media (max-width:991px) {
    .nav-item {
        height: 50px;
        margin: 0;
    }
    .nav-link {
        display: inline;
        margin: 0 auto;
    }
    .navbar-collapse {
        margin: 0%;
    }
}

@media (max-width: 769px) {
    .main {
        flex-direction: column-reverse;
    }
    .main__menu_container ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-item {
        height: 100%;
    }
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
    }
}