.card-container {
    width: 75%;
    height: 65%;
    left: 12.5%;
    top: 15%;
    background-color: aliceblue;
    position: absolute;
    overflow: hidden;
    border-radius: 5px;
    border-style: solid;
    border-color: #007bff;
}

.details-container
{
    width: 40%;
    margin: 2.5%;
    padding: 0.5%;
    height: 70%;
    border-radius: 5px;
    background-color: white;
    float: left;
    border-style: solid;
    border-color: #007bff;
}

.trainers-container
{
    width: 40%;
    margin: 2.5%;
    padding: 0.5%;
    height: 55%;
    border-radius: 5px;
    background-color: white;
    float: right;
    border-style: solid;
    border-color: #007bff;
}

.title {
    margin: 2.5%;
}

.trainer-list {
    position: absolute;
    border-style: none;
}

.trainer-list-check {
    width: 5%;
    padding: 0.5%;
}

.trainer-list-name {
    padding: 1.5%;
    width: 35%;
}

.trainer-list-details {
    width: 60%;
    padding: 0.5%;
}

.button-container {
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}

.send-button {
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    border-color: #007bff;
}