<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Sale</title>
</head>
<body>
    <div align="center">
        <h1>Edit TrainingProposals</h1>
        <br />
        <form action="#" th:action="@{/update_TrainingProposals}" th:object="${TrainingProposals}"
            method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td>ProporsalID:</td>
                    <td><input type="text" th:field="*{ProporsalID}" readonly="readonly" /></td>
                </tr>            
                <tr>
                    <td>ExecutionID:</td>
                    <td><input type="text" th:field="*{ExecutionID}" /></td>
                </tr>
                <tr>
                    <td>MemberID:</td>
                    <td><input type="text" th:field="*{MemberID}" /></td>
                </tr>    
                <tr>
                    <td>ProposedDate:</td>
                    <td><input type="text" th:field="*{ProposedDate}" /></td>
                </tr>    
                <tr>
                    <td>ProposedTime:</td>
                    <td><input type="text" th:field="*{ProposedTime}" /></td>
                </tr>        
                <tr>
                    <td>ProposedDuration:</td>
                    <td><input type="text" th:field="*{ProposedDuration}" /></td>
                </tr>     
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>