<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div th:if="${username == null}" class="bs-component">
            <div class="jumbotron">
                <h2 class="display-3">Welcome To Atos ©</h2>
                <h1 class="display-3">Training Management System</h1>
                <hr class="my-4">
                <p class="lead">Please login to access the system.</p>    
                <a class="btn btn-primary btn-lg ext-uppercase" href="Login" role="button">Login</a>
            </div>
        </div>
        <div th:if="${username != null}">
            <a class="btn btn-primary btn-lg ext-uppercase" href="Logout" role="button">Logout</a>
        </div>
    </div>
</body>
</html>