<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Sale</title>
</head>
<body>
    <div align="center">
        <h1>Edit LDMemberData</h1>
        <br />
        <form action="#" th:action="@{/update_LDMemberData}" th:object="${LDMemberData}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>
                    <td>MemberID:</td>
                    <td><input type="text" th:field="*{MemberID}" readonly="readonly" /></td>
                </tr>            
                <tr>
                    <td>MemberName:</td>
                    <td><input type="text" th:field="*{MemberName}" /></td>
                </tr>
                <tr>
                    <td>MemberContact:</td>
                    <td><input type="text" th:field="*{MemberContact}" /></td>
                </tr>    
                <tr>
                    <td>MemberLocation:</td>
                    <td><input type="text" th:field="*{MemberLocation}" /></td>
                </tr>        
                <tr>
                    <td>MemberEmail:</td>
                    <td><input type="text" th:field="*{MemberEmail}" /></td>
                </tr>   
                <tr>
                    <td>LDRoleID:</td>
                    <td><input type="text" th:field="*{LDRoleID}" /></td>
                </tr>                        
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>