<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Index LBP</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3  col mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="new-txt fas fa-plus-circle"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="new-txt fas fa-plus-circle"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body rejected">
                            <h3 class="rejected-bg">ID12356</h3>
                            <i class="rejected-txt fas fa-times"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col  mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body process">
                            <h3 class="process-bg">ID12356</h3>
                            <i class="process-txt fas fa-spinner"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body confirmed">
                            <h3 class="confirmed-bg">ID13654</h3>
                            <i class="confirmed-txt fas fa-check-circle"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col  mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body confirmed">
                            <h3 class="confirmed-bg">ID13654</h3>
                            <i class="confirmed-txt fas fa-check-circle"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col  mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body process">
                            <h3 class="process-bg">ID12356</h3>
                            <i class="process-txt fas fa-spinner"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col  mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body process">
                            <h3 class="process-bg">ID12356</h3>
                            <i class="process-txt fas fa-spinner"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col  mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body process">
                            <h3 class="process-bg">ID12356</h3>
                            <i class="process-txt fas fa-spinner"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  col mb-4">
                    <div class="card card-trainning">
                        <div class="card-trainning-body rejected">
                            <h3 class="rejected-bg">ID12356</h3>
                            <i class="rejected-txt fas fa-times"></i>
                            <div class="card-info">
                                <div><span class="font-bold">User: </span>Mahesh</div>
                                <div><span class="font-bold">Start Date: </span>10-Jan-2021</div>
                                <div><span class="font-bold">Area: </span>Java</div>
                                <div><span class="font-bold">Duration: </span>200 days</div>
                                <div><span class="font-bold">Participants: </span>100</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>