<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate=~{main_layout.html}>
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Index LBP</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4  col-sm-6 col mb-4">
                    <div class="card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="fas fa-book-open new-txt"></i>
                            <div class="card-info text-center">
                                <div class="font-bold">Course Name</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  col-sm-6 col mb-4">
                    <div class=" card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="fas fa-book-open new-txt"></i>
                            <div class="card-info text-center">
                                <div class="font-bold">Course Name</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  col-sm-6 col mb-4">
                    <div class=" card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="fas fa-book-open new-txt"></i>
                            <div class="card-info text-center">
                                <div class="font-bold">Course Name</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4  col-sm-6 col mb-4">
                    <div class=" card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="fas fa-book-open new-txt"></i>
                            <div class="card-info text-center">
                                <div class="font-bold">Course Name</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  col-sm-6 col mb-4">
                    <div class="card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="fas fa-book-open new-txt"></i>
                            <div class="card-info text-center">
                                <div class="font-bold">Course Name</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  col-sm-6 col mb-4">
                    <div class=" card-trainning">
                        <div class="card-trainning-body new">
                            <h3 class="new-bg">ID12356</h3>
                            <i class="fas fa-book-open new-txt"></i>
                            <div class="card-info text-center">
                                <div class="font-bold">Course Name</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
