<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Index LBP</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                    <div th:each="TrainingRequirementMaster : ${listTrainingMaster}" class="col-md-3  col mb-4">
                        <span id="ProposalID" th:text="${mapTrainingProposal.get(TrainingRequirementMaster.RequirementID).ProposalID}" style="display: none;">ProposalID</span>
                        <div class="card card-trainning">
                            <div class="card-trainning-body new">
                                <h3 class="new-bg" th:text="${TrainingRequirementMaster.RequirementID}">ID</h3>
                                <i class="new-txt fas fa-plus-circle"></i>
                                <div class="card-info">
                                    <div>
                                        <span class="font-bold">User: </span>
                                        <p th:text="${TrainingRequirementMaster.RequirementUser}">RequirementUser</p>
                                    </div>
                                    <div>
                                        <span class="font-bold">Start Date: </span>
                                        <p th:text="${TrainingRequirementMaster.RequestedTrainingStartDate}">RequestedTrainingStartDate</p>
                                    </div>
                                    <div>
                                        <span class="font-bold">Area: </span>
                                        <p th:text="${TrainingRequirementMaster.RequirementUserVertical}">RequirementUserVertical</p>
                                    </div>
                                    <div>
                                        <span class="font-bold">Duration: </span>
                                        <p th:text="${TrainingRequirementMaster.TotalDurationDays}">TotalDurationDays</p>
                                    </div>
                                    <div>
                                        <span class="font-bold">Participants: </span>
                                        <p th:text="${TrainingRequirementMaster.TotalCandidates}">TotalCandidates</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>