<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Request Name</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="row d-flex  align-items-stretch">
            <div class="col-md-8 col-12 mb-4">
                <div class="card">
                    <h3>Request Details</h3>
                    <div class="card-body">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius doloremque quas placeat excepturi id, adipisci eveniet mollitia natus maiores enim cumque exercitationem fugiat quaerat, ullam, dicta dolorem consectetur dolores
                            rem? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet consectetur dolores laudantium accusantium quisquam! Minima hic temporibus quis blanditiis qui nemo nulla assumenda ex voluptatum placeat? Id veniam molestias
                            illum!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempore placeat rem. Natus dolor, distinctio possimus, eaque deleniti magni dolores, ex quaerat quos aspernatur perferendis vitae necessitatibus error accusamus quia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <h3>Trainers</h3>
                    <div class="card-body">
                        <div class="row">
                            <form class="col-lg-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="trainner1" checked>
                                    <label class="form-check-label" for="trainner1">
                                      Trainer 1
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="trainner2">
                                    <label class="form-check-label" for="trainner2">
                                      Trainer 2
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="trainner3" checked>
                                    <label class="form-check-label" for="trainner3">
                                      Trainer 3
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="trainner4">
                                    <label class="form-check-label" for="trainner4">
                                      Trainer 4
                                    </label>
                                </div>
                                <button class="btn btn-primary">
                                    Send
                                </button>
                            </form>
                            <div class="col-lg-8 text-justify">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, deleniti est quisquam, provident facere deserunt dignissimos earum, ad distinctio minima saepe modi dolores quasi animi quam repellat a eligendi omnis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>