<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Request Name</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="row d-flex  align-items-stretch">
            <div class="col-md-8 col-12 mb-4">
                <div class="card">
                    <h3><b>Request Details</b></h3>
                    <div class="card-body">
                        <p th:text="'Requirement ID: ' + ${requirement.requirementID}"/>
                        <p th:text="'Received date: ' + ${requirement.requirementReceivedDate}"/>
                        <p th:text="'Required by: ' + ${requirement.requirementUser}"/>
                        <p th:text="'From vertical: ' + ${vertical.verticalName}"/>
                        <p th:text="'Training area: ' + ${requirement.trainingArea}"/>
                        <p th:text="'Description: ' + ${requirement.trainingDescription}"/>
                        <p th:text="'Requested starting date: ' + ${#dates.format(requirement.requestedTrainingStartDate, 'dd-MMM-yyyy')}"/>
                        <p th:text="'Number of participants: ' + ${requirement.totalCandidates}"/>
                        <p th:text="'Time zone: ' + ${requirement.trainingTimeZone}"/>
                        <p th:text="'Training duration: ' + ${requirement.totalDurationDays} + ' days'"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="card">
                    <h3><b>Proposals responses</b></h3>
                    <div class="card-body">
                        <div class="row">
                            <form class="col-lg-4" th:action="@{/send}" method="get">
                                <div class="form-check" th:each="execution, iter : ${executions}">
                                    <input class="form-check-input" type="radio" th:name="proposalID" th:value="${execution.ProposalID}">
                                    <label class="form-check-label" for="response" th:text="'Trainer name: ' + ${execution.Trainer}"></label>
                                    <label class="form-check-label" for="response" th:text="'Proposed date: ' + ${#dates.format(execution.ConfirmedDate, 'dd-MMM-yyyy')}"></label>
                                    <label class="form-check-label" for="response" th:text="'Proposed time: ' + ${execution.ConfirmedTime}"></label>
                                    <label class="form-check-label" for="response" th:text="'Total hours: ' + ${execution.totalHRS}"></label>
                                    <label class="form-check-label" for="response" th:text="'Status: ' + ${execution.ProposalStatus}"></label>
                                    <label class="form-check-label" for="response" th:text="'Participants allowed: ' + ${execution.TotalParticipantsAllowed}"></label>
                                    <label class="form-check-label" for="response" th:text="'Trainer response: ' + ${execution.TrainerResponse}"></label>
                                    <br>
                                    <br>
                                </div>
                                <input type="submit" value="Send">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>