<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
    <link>
<script src="../javascript/TrainingExecutionMaster.js"></script>
<script src="../javascript/NewFormTrainingProposals.js"></script>
<script>
function toggle(source) {
	  checkboxes = document.getElementsByName('foo');
	  for(var i=0, n=checkboxes.length;i<n;i++) {
	    checkboxes[i].checked = source.checked;
	  }
	}
</script>
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>New Requirements</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="row d-flex  align-items-stretch">
            <div class="col-md-7 col-12 mb-4">
                <div class="card">
                    <h3>New Requirements</h3>
                      <div class="card-body">
                      <tr th:each="TrainingProposals : ${listTrainingProposals}">
                		<td th:text="${TrainingProposals.ProporsalID}">ID</td> </tr>
                        <span>Requirement ID:</span>
                        <span> <strong id="id-api"> REQ001 </strong> </span>
                        <br>
                        <span>Received Date:</span>
                        <span> <strong id="date-api"> 12 Oct 2021 </strong> </span>
                        <br>
                        <span>User:</span>
                        <span> <strong id="user-api"> Carolina Navas </strong> </span>
                        <br>
                        <span>Requirement Vertical</span>
                        <span> <strong id="vertical-api"> Retail </strong> </span>
                        <br>
                        <span>Total Candidates</span>
                        <span> <strong id="total-api"> BackEnd </strong> </span>
                        <br>
                        <span>Total duration days</span>
                        <span> <strong id="days-api"> Ruby on Rails </strong> </span>
                        <br>
                        <span>Training Area</span>
                        <span> <strong id="area-api"> 12 Dic 2021 </strong> </span>
                        <br>
                        <span>Description</span>
                        <span> <strong id="description-api"> 22 students </strong> </span>
                        <br>
                        <span>Timezone</span>
                        <span> <strong id="timezone-api"> Mexico </strong> </span>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 mb-4">
                <div class="card">
                    <h3>Trainners</h3>
                    <div class="card-body">
                        <form class="row">
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input"  onClick="toggle(this)" type="checkbox" role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">All</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Antonio Guerrero Espinoza</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Eduardo Olivas Hermosillo</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Fracnisco Javier Favela Najera</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Jose Eduardo Chapa Gonzalez</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Jose Luis Matias Pineada</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Luis Jair Contreras Cervantes</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Samuel Alejandro Bullon Tenorio</label>
                            </div>
                            <div class="col-12 form-check form-switch mb-1">
                                <input class="form-check-input" type="checkbox" name="foo"  role="switch" id="trainner">
                                <label class="form-check-label" for="trainner">Victor Ulises Lopez Arias</label>
                            </div>
                            <div class="col-12 mb-2">
                                <button type="submit" class="btn btn-primary">Send Request</button>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="commets">Trainner Status Message</label>
                                <textarea class="form-control" placeholder="Leave a comment here" id="message"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Message to business</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <script>
		    $(document).ready(
		    	    $('.container-details-yes').hide(),
		    	    $('#switch-for-trainer').click(
		    	        function(){
		    	            if($(this).is(':checked')){
		    	                $('.container-details').hide();
		    	                $('.container-details-yes').show();
		    	            } else {
		    	                $('.container-details').show();
		    	                $('.container-details-yes').hide();
		    	            }
		    	        }
		    	    )
		    	);
	    </script> 
        </div>
     
</body>
</html>