<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Confirmed requirements</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="row d-flex  align-items-stretch">
            <div class="col-md-7 col-12 mb-4">
                <div class="card">
                    <h3>Confirmed requirement</h3>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Label</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Received date: </th>
                                    <td class="text-muted" th:text="${#dates.format(requirement.RequirementReceivedDate, 'dd-MMM-yyyy')}"></td>
                                    <td class="text-muted">Date when received the requirement</td>
                                </tr>
                                <tr>
                                    <th scope="row">Start date: </th>
                                    <td class="text-muted" th:text="${#dates.format(proposalsdata.ProposedDate, 'dd-MMM-yyyy')}"></td>
                                    <td class="text-muted">Date when requirement started</td>
                                </tr>
                                <tr>
                                    <th scope="row">Proposed end date: </th>
                                    <td class="text-muted">Pending</td>
                                    <td class="text-muted">Date when requirement finished</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trainer: </th>
                                    <td class="text-muted" th:text="${trainner.MemberName}"></td>
                                    <td class="text-muted">Name from the trainer responsible of this requirement</td>
                                </tr>
                                <tr>
                                    <th scope="row">Participants: </th>
                                    <td class="text-muted" th:text="${requirement.TotalCandidates}"></td>
                                    <td class="text-muted">Amout of all participants in this requirement (MAX:25)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 mb-4">
                <div class="card">
                    <h3>Done</h3>
                    <div class="card-body">
                        <p class="font-bold mb-0 mt-5">Will finish on: Pending</p>
                        <p class="mt-0">Description from the trainer</p>
                        <button class="btn btn-primary">Go to home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>