<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content-header">
            <h2>Confirmed requirements</h2>
            <div>[<i class="fas fa-plus-square"></i>]</div>
            <hr/>
        </div>
        <div class="row d-flex  align-items-stretch">
            <div class="col-md-7 col-12 mb-4">
                <div class="card">
                    <h3>Confirmed requirement</h3>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Label</th>
                                    <th scope="col">Value</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Received date: </th>
                                    <td class="text-muted">DD/MM/YYYY</td>
                                    <td class="text-muted">Small Description</td>
                                </tr>
                                <tr>
                                    <th scope="row">Start date: </th>
                                    <td class="text-muted">DD/MM/YYYY</td>
                                    <td class="text-muted">Small Description</td>
                                </tr>
                                <tr>
                                    <th scope="row">End date: </th>
                                    <td class="text-muted">DD/MM/YYYY</td>
                                    <td class="text-muted">Small Description</td>
                                </tr>
                                <tr>
                                    <th scope="row">Trainner: </th>
                                    <td class="text-muted">Trainner name</td>
                                    <td class="text-muted">......</td>
                                </tr>
                                <tr>
                                    <th scope="row">Participants: </th>
                                    <td class="text-muted">Total of Participants</td>
                                    <td class="text-muted">Small Description</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 mb-4">
                <div class="card">
                    <h3>Done</h3>
                    <div class="card-body">
                        <p class="font-bold mb-0 mt-5">Finished on: dd/mm/yyyy</p>
                        <p class="mt-0">Some other Description</p>
                        <button class="btn btn-primary">Go to</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>