.red {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
}

.second-container {
    flex: 1;
    height: 100%;
    width: 100%;
    border-radius: 12px 12px 12px 12px;
    padding: 1em;
    background-color: #A2FBDB;
    margin-right: 12px;
    position: relative;
}

.third-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container-decision {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #33F7AF;
    background-color: #ECFEF8;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
    padding: 1em;
    position: relative;
}

.container-details {
    flex: 1;
    border: 1px solid #33F7AF;
    background-color: #ECFEF8;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 1em;
    position: relative;
}

.container-details-yes {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #33F7AF;
    background-color: #A2FBDB;
    border-radius: 9px;
    height: 100%;
    width: 100%;
    padding: 3em;
    position: relative;
}

.container-requirements-trainer {
    position: relative;
    top: 1em;
    padding: 1em;
}

#img-trainer {
    height: 5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.title-for-trainer-details{
    border-bottom: 3px solid #09E596;
    padding: 10px;
}

.title-for-trainer-details-1 {
    border-bottom: 3px solid #09E596;
    padding: 10px;
    position: absolute;
    top: 0;
}

.title-for-trainer-details-2 {
    flex: 1;
    border-bottom: 3px solid #09E596;
    padding: 10px;
    position: absolute;
    top: 0;
}

.text-area-trainer-reject {
    position: relative;
    top: 30%;
    width: 100%;
    height: 50%;
    border-radius: 8px;
    border: 1px solid #09E596;
}

.container-inputs-accepted {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.input-date-trainer{
    margin: 1em;
}

#button-for-sending-no {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #33F7AF;
    color: white;
    font-size: 15px;
}


.switch {
    position: relative;
    top: 30px;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C7FDE9;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #09E596;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #09E596;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #09E596;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }