<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <!--Icons-->
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css} "/>
  <!--Bootstrap CSS-->
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
  <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
  
  <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	
	<link rel="stylesheet" type="text/css" href="../css/newProposal.css" />
	<link rel="stylesheet" type="text/css" href="../css/base.css" />
<title>New Proposal</title>
</head>
<body>
	<h1 id="title-page-new-proposal-execution">New proposal</h1>
	<section class="main-container-section-exe">
	    
	    <div class="secondary-container-exec-1">
	    	<div class="container-requirements-trainer">
                <h1 id="title-new-form-execution-master">Training request details:</h1>
                        <span class="">Requirement User:</span>
                        <span > <strong id="requirement-id-form"> REQ001</strong>  </span>
                        <br>
                        <span>Received Date:</span>
                        <span> <strong id="requirement-redate-form"></strong>    </span>
                        <br>
                        <span>User:</span>
                        <span > <strong id="requirement-user-form"> Carolina Navas </strong> </span>
                        <br>
                        <span>Requirement Vertical</span>
                        <span > <strong id="requirement-vertical-form"> Retail </strong>  </span>
                        <br>
                        <span>Training Area</span>
                        <span> <strong id="requirement-training-form"> BackEnd   </strong>    </span>
                        <br>
                        <span>Training Description</span>
                        <span > <strong id="requirement-description-form"> Ruby on Rails  </strong> </span>
                        <br>
                        <span>Requested Training Date</span>
                        <span > <strong id="requirement-trainingdate-form"> 12 Dic 2021 </strong>  </span>
                        <br>
                        <span>Total Candidates</span>
                        <span > <strong id="requirement-total-form"></strong> students  </span>
                        <br>
                        <span>Timezone</span>
                        <span > <strong id="requirement-timezone-form"> Mexico </strong>  </span>
                        <br>
                        <span>Duration Days</span>
                        <span>  <strong  id="requirement-duration-form"></strong> days   </span>

                        
             </div>
             <img id="img-logo-form" src="../images/undraw_logo.svg" alt="" srcset="">
	    </div>
	    
	    <div class="secondary-container-exec-2">
	    	<div  class="third-container-exec-1">
		        <span style="display: none;" th:text="${proposalID}">RequirementID</span>
		        <br />
		        <form id="form-execution-master-new" action="#" th:action="@{/save_TrainingExecutionMaster}" th:object="${TrainingExecutionMaster}"
		            method="post">
                    <img id="img-logo-form-1" src="../images/calendar.svg" alt="" srcset="">
		 			<label id="execution-id-for-form" for="">
		            	<input id="execution-field" readonly class="input-date-trainer" type="text" th:field="*{ExecutionID}" />
		            </label>
		            
		            	<input class="input-date-trainer" readonly type="text" id="proposalID" name="ProposalID" th:value="${proposalID}" >
		            
		            <label id="date-id-for-form">Date:
		            	<input id="trainer-date-exe-field" class="input-date-trainer" type="date" th:field="*{ConfirmedDate}" >
		            </label>
		            <br>
		            <label id="proposed-id-for-form" for="">Time:
		            	<input id="trainer-time-exe-field" class="input-date-trainer" type="time" th:field="*{ConfirmedTime}" />
	            	</label>
                    <br>
		            <label id="trainer-id-for-form" for="">Trainer:
		            	<input id="trainer-id-field" class="input-date-trainer" type="text" th:field="*{Trainer}" >
		            </label>
		            <br>
		            <label id="totalhrs-id-for-form" for="">TotalHRS:
		            	<input id="input-trainer-hrs-exe" class="input-date-trainer" type="number" th:field="*{TotalHRS}" />
		            </label>
		            
		            <label  id="proposalstatus-id-for-form" for="">ProposalStatus:
		            	<input  readonly id="status-id-field" class="input-date-trainer" type="text" th:field="*{ProposalStatus}" />
		            </label>
		            <br>
		 			<label id="total-allowed" for="">Participants :
		            	<input id="input-trainer-participants-exe" class="input-date-trainer" type="text" th:field="*{TotalParticipantsAllowed}" />
		            </label>
		            
		            	<input id="trainer-response-id" class="input-date-trainer" type="text" th:field="*{TrainerResponse}" />
		            
		 			
		            <button id="button-for-sending-no-2" type="submit" class="btn btn-primary">Send</button>
		        </form>
	        </div>
	        <div  class="third-container-exec-2">
	        	<div class="container-decision-1">
                        <h1 class="title-for-trainer-details-4">Your mission, should you choose to accept it ? </h1>
                        <label  class="switch">
                            <input id="switch-for-trainer" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                </div>
	        </div>
	        
	    </div>
		
    </section>
    <script src="../javascript/executionTrainer.js" > </script>
</body>