<!DOCTYPE html>
<html lang="en"
      xml:lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main_layout.html}">
<head>
    <title>Training Management System</title>
    <!-- Your meta, links and scripts goes here-->
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Poppins:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <!-- Additional CSS-->
    <link rel="stylesheet" type="text/css" href="../../css/trainerIndex.css" />
    <link rel="stylesheet" type="text/css" href="../../css/trainerIndexContainer.css" />
    <!-- Custom JSS -->
    <script src="../../javascript/NewFormTrainingProposals.js"></script>
    
    
</head>
<body>
    <!-- Main component -->
    <div layout:fragment="main-content">
        <div class="main__content col-md-11 col-12">
            <div class="red">
                <div class="second-container">
                    <h1 class="title-for-trainer-details">Training Details</h1>
                    <img id="img-trainer" src="../../images/imgTrainer.svg" alt="" srcset="">
                    <div class="container-requirements-trainer">
                        <span>Requirement ID:</span>
                        <span> <strong id="id-api"> REQ001 </strong> </span>
                        <br>
                        <span>Received Date:</span>
                        <span> <strong id="date-api"> 12 Oct 2021 </strong> </span>
                        <br>
                        <span>User:</span>
                        <span> <strong id="user-api"> Carolina Navas </strong> </span>
                        <br>
                        <span>Requirement Vertical</span>
                        <span> <strong id="vertical-api"> Retail </strong> </span>
                        <br>
                        <span>Total Candidates</span>
                        <span> <strong id="total-api"> BackEnd </strong> </span>
                        <br>
                        <span>Total duration days</span>
                        <span> <strong id="days-api"> Ruby on Rails </strong> </span>
                        <br>
                        <span>Training Area</span>
                        <span> <strong id="area-api"> 12 Dic 2021 </strong> </span>
                        <br>
                        <span>Description</span>
                        <span> <strong id="description-api"> 22 students </strong> </span>
                        <br>
                        <span>Timezone</span>
                        <span> <strong id="timezone-api"> Mexico </strong> </span>
                    </div>
                </div>
                <div class="third-container">
                    <div class="container-decision">
                        <h1 class="title-for-trainer-details-1">Your mission, should you choose to accept it ? </h1>
                        <label  class="switch">
                            <input id="switch-for-trainer" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="container-details-yes">
                        <h2 class="title-for-trainer-details-2">Please enter training details: </h2>
                        <p id="execution-id-url" th:text="${executionID}" >Requirement</p>
                        <div class="container-inputs-accepted">
                            <form action="#" th:action="@{/save_TrainingProposals}" th:object="${TrainingProposals}" method="post">
                                <button id="button-for-sending-no" type="submit" class="btn">Send</button>
                                <label for="">ProposalID
                                	<input class="input-date-trainer" type="text" th:field="*{ProposalID}" />
                                </label>
                                <label for="">ExecutionID
                                	<input class="input-date-trainer" readonly="readonly"  type="text" th:value="${executionID}" name="ExecutionID" />
                                </label>
                                <label for="">MemberID:</label>
                                	<input class="input-date-trainer" type="text" th:field="*{MemberID}" >
                                <label for="">ProposedDate:</label>
                                	<input class="input-date-trainer" type="date" th:field="*{ProposedDate}" />
                                <label for="">ProposedTime:</label>
                                	<input class="input-date-trainer" type="time" th:field="*{ProposedTime}" >
                                <label for="">ProposedDuration:</label>
                                	<input class="input-date-trainer" type="number" th:field="*{ProposedDuration}" />
                            </form>
                        </div>
                    </div>
                    <div class="container-details">
                        <button id="button-for-sending-no" class="btn">Send</button>
                        <h2 class="title-for-trainer-details-1">Please explain, why you rejected the training. </h2>
                        <input class="text-area-trainer-reject" placeholder="This message will be sent to your LBP" type="text-area">
                    </div>
                </div>
            </div>
        </div>
	        <script>
		    $(document).ready(
		    	    $('.container-details-yes').hide(),
		    	    $('#switch-for-trainer').click(
		    	        function(){
		    	            if($(this).is(':checked')){
		    	                $('.container-details').hide();
		    	                $('.container-details-yes').show();
		    	            } else {
		    	                $('.container-details').show();
		    	                $('.container-details-yes').hide();
		    	            }
		    	        }
		    	    )
		    	);
	    </script> 
    </div>
    
</body>

</html>