<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Sale</title>
</head>
<body>
    <div align="center">
        <h1>Edit TrainingExecutionMaster</h1>
        <br />
        <form action="#" th:action="@{/update_TrainingExecutionMaster}" th:object="${TrainingExecutionMaster}"
            method="post">

            <table border="0" cellpadding="10">
                <tr>
                    <td>ExecutionID:</td>
                    <td><input type="text" th:field="*{ExecutionID}" readonly="readonly" /></td>
                </tr>            
                <tr>
                    <td>ProporsalID:</td>
                    <td><input type="text" th:field="*{ProporsalID}" /></td>
                </tr>
                <tr>
                    <td>ConfirmedDate:</td>
                    <td><input type="text" th:field="*{ConfirmedDate}" /></td>
                </tr>    
                <tr>
                    <td>ConfirmedTime:</td>
                    <td><input type="text" th:field="*{ConfirmedTime}" /></td>
                </tr>    
                <tr>
                    <td>Trainer:</td>
                    <td><input type="text" th:field="*{Trainer}" /></td>
                </tr>        
                <tr>
                    <td>TotalHRS:</td>
                    <td><input type="text" th:field="*{TotalHRS}" /></td>
                </tr>   
                <tr>
                    <td>ProposalStatus:</td>
                    <td><input type="text" th:field="*{ProposalStatus}" /></td>
                </tr>  
                <tr>
                    <td>TotalParticipantsAllowed:</td>
                    <td><input type="text" th:field="*{TotalParticipantsAllowed}" /></td>
                </tr>                        
                <tr>
                    <td colspan="2"><button type="submit">Save</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>