<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Sales Manager Application</title>
</head>
<body>
<div align="center">
    <h1>LDMemberData Records</h1>
    <a href="/new_LDMemberData">Enter New Sale</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>MemberID</th>
                <th>MemberName</th>
                <th>MemberContact</th>
                <th>MemberLocation</th>
                <th>MemberEmail</th>
				<th>MemberEmail</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="LDMemberData : ${listLDMemberData}">
                <td th:text="${LDMemberData.MemberID}">MemberID</td>
                <td th:text="${LDMemberData.MemberName}">MemberName</td>
                <td th:text="${LDMemberData.MemberContact}">MemberContact</td>
				<td th:text="${LDMemberData.MemberLocation}">MemberLocation</td>
				<td th:text="${LDMemberData.MemberEmail}">MemberEmail</td>
				<td th:text="${LDMemberData.LDRoleID}">LDRoleID</td>

                <td>
                    <a th:href="@{'/edit_LDMemberData/' + ${LDMemberData.MemberID}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete_LDMemberData/' + ${LDMemberData.MemberID}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>