<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Sales Manager Application</title>
</head>
<body>
<div align="center">
    <h1>TrainingExecutionMaster Records</h1>
    <a href="/new_TrainingExecutionMaster">Enter New Sale</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>RequirementID</th>
                <th>ExecutionID</th>
                <th>ConfirmedDate</th>
                <th>ConfirmedTime</th>
                <th>Trainer</th>
				<th>TotalHRS</th>
				<th>ProposalStatus</th>
				<th>TotalParticipantsAllowed</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="TrainingExecutionMaster : ${listTrainingExecutionMaster}">
                <td th:text="${TrainingExecutionMaster.RequirementID}">RequirementID</td>
                <td th:text="${TrainingExecutionMaster.ExecutionID}">ExecutionID</td>
                <td th:text="${TrainingExecutionMaster.ConfirmedDate}">ConfirmedDate</td>
				<td th:text="${TrainingExecutionMaster.ConfirmedTime}">ConfirmedTime</td>
				<td th:text="${TrainingExecutionMaster.Trainer}">Trainer</td>
				<td th:text="${TrainingExecutionMaster.TotalHRS}">TotalHRS</td>
				<td th:text="${TrainingExecutionMaster.ProposalStatus}">ProposalStatus</td>
				<td th:text="${TrainingExecutionMaster.TotalParticipantsAllowed}">TotalParticipantsAllowed</td>

                <td>
                    <a th:href="@{'/edit_TrainingExecutionMaster/' + ${TrainingExecutionMaster.RequirementID}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete_TrainingExecutionMaster/' + ${TrainingExecutionMaster.RequirementID}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>