<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Sales Manager Application</title>
</head>
<body>
<div align="center">
    <h1>TrainingProposals Records</h1>
    <a href="/New/new_TrainingProposals">Enter New Sale</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ProporsalID</th>
                <th>RequirementID</th>
                <th>MemberID</th>
                <th>ProposedDate</th>
                <th>ProposedTime</th>
				<th>ProposedDuration</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="TrainingProposals : ${listTrainingProposals}">
                <td th:text="${TrainingProposals.ProporsalID}">ProporsalID</td>
                <td th:text="${TrainingProposals.RequirementID}">RequirementID</td>
                <td th:text="${TrainingProposals.MemberID}">MemberID</td>
				<td th:text="${TrainingProposals.ProposedDate}">ProposedDate</td>
				<td th:text="${TrainingProposals.ProposedTime}">ProposedTime</td>
				<td th:text="${TrainingProposals.ProposedDuration}">ProposedDuration</td>

                <td>
                    <a th:href="@{'/Edit/edit_TrainingProposals/' + ${TrainingProposals.ProporsalID}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete_TrainingProposals/' + ${TrainingProposals.ProporsalID}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html> 