<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{main_layout.html}">
<head>
<title>Training Management System</title>
<!-- Your meta, links and scripts goes here-->
<link>

<script src="../javascript/TrainingExecutionMaster.js"></script>
<script src="../javascript/NewFormTrainingProposals.js"></script>
<script>
	function toggle(source) {
		checkboxes = document.getElementsByName('foo');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			checkboxes[i].checked = source.checked;
		}
	}
</script>
</head>
<body>
	<!-- Main component -->
	<div layout:fragment="main-content">
		<div class="main__content-header">
			<div align="center">
				<h1>TrainingProposals Records</h1>
				<table border="1" cellpadding="10" class="table table-hover">
					<thead>
						<tr>
							<th>ProposalID</th>
							<th>RequirementID</th>
							<th>MemberID</th>
							<th>ProposedDate</th>
							<th>ProposedTime</th>
							<th>ProposedDuration</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="TrainingProposals : ${listTrainingProposals}">
							<td th:text="${TrainingProposals.ProposalID}">ProposalID</td>
							<td th:text="${TrainingProposals.RequirementID}">RequirementID</td>
							<td th:text="${TrainingProposals.MemberID}">MemberID</td>
							<td th:text="${TrainingProposals.ProposedDate}">ProposedDate</td>
							<td th:text="${TrainingProposals.ProposedTime}">ProposedTime</td>
							<td th:text="${TrainingProposals.ProposedDuration}">ProposedDuration</td>
							<td th:text="${TrainingProposals.ProposalStatus}">Status</td>

							<div>
								<a class="card" style="width: 15rem;" th:href="@{/New/new_TrainingProposals/{id}(id=${TrainingProposals.RequirementID})}">+Proposal</a>
									<p class="card-text"  th:text="${TrainingProposals.RequirementID}">RequirementID</p>
							</div>

						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

</body>
</html>